@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #F0F4F8; }
.dark ::-webkit-scrollbar-track { background: #0A192F; }
::-webkit-scrollbar-thumb { background-color: #CBD5E1; border-radius: 4px; }
.dark ::-webkit-scrollbar-thumb { background-color: #1E293B; }
html { scroll-behavior: smooth; }
